<!DOCTYPE html>
<html>
<head>
<style>
  header {
    padding: 1em;
    clear: left;
    text-align: center;
  }
</style>
  <title> Practice for RoR</title>
</head>
<body>
  <div class="center jumbotron">
    <h1>ALPHA BLOG</h1>
    <%= link_to "Sign up now", "#", class: "btn btn-  btn-lg btn-xlarge" %>
  </div>
</body>
</html>