<!DOCTYPE html>
<html>
<head>
<style>
  header {
    padding: 1em;
    clear: left;
    text-align: center;
  }
</style>
  <title> Practice for RoR</title>
</head>
<body>
<header>
  <h1>Centered Title</h1>
  <p>Place holder image</p>
</header>
<hr>
<div style="background-color: black; height: 500px">
  <div style="background-color: cyan; float: left; height: 300px">
    <h1>Paragraph 1 header</h1>
    <p>Lorem Ipsum</p>
  </div>
  <div style="background-color: yellow; float: right; height: 400px">
    <h1>Paragraph 2 header</h1>
    <p>Loren Ipsum</p>
  </div>
</div>
<footer>
  <h2>This is the footer</h2>
</footer>
</body>
</html>

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path %>